[project]
	description = F$D? - Client not paid? Add opacity to the body tag and increase it every day until their site completely fades away
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dan (DanPristupov)
[access "refs/for/refs/*"]
	read = group user/Dan (DanPristupov)
	push = group user/Dan (DanPristupov)
	label-Code-Review = -2..+2 group user/Dan (DanPristupov)
	label-Verified = -1..+1 group user/Dan (DanPristupov)
	rebase = group user/Dan (DanPristupov)
	removeReviewer = group user/Dan (DanPristupov)
	submit = group user/Dan (DanPristupov)
[access "refs/heads/*"]
	read = group user/Dan (DanPristupov)
	create = group user/Dan (DanPristupov)
	push = +force group user/Dan (DanPristupov)
	pushMerge = group user/Dan (DanPristupov)
[access "refs/tags/*"]
	push = group user/Dan (DanPristupov)
	push = +force group user/Dan (DanPristupov)
